
    <section class="programSection">
      <div class="container">
        <div class="ANewsHead font-L wow fadeInUp" data-wow-delay="0.5s">
          <div class="ANewsHeadTitle">{{'Qatar Leadership Center'|translate}}</div>
          <div class="ADescription">
            <p>
              {{'Founded upon the directive of HH the Amir Sheikh Tamim Bin Hamad Al Thani in 2010, Qatar Leadership Centre is a national “management development” institute that seeks to develop leadership talent amongst Qatari professionals who work in executive positions in government institutions as well as public sector and private sector organizations.'|translate}}
            </p>
          </div>
          <a [routerLink]="['/website/pages/3515d628-e1ce-4221-7e03-08d71a6a3887/08fd0529-0bb5-44d6-5f35-08d71a6c0bd7']" class="AMore">{{'more about Qatar Leadership Center' |translate}}</a>
        </div>
        <div class="progBoxs d-flex row">
          <div class="col-sm-6 col-12">
            <div class="progItem wow fadeInLeft" data-wow-delay="0.5s">
              <img src="assets/theme/imgs/prog1.jpg" class="prog-img" />
              <div class="caption">
                <h4 class="title">{{'NATIONAL LEADERSHIP PROGRAMS'|translate}}</h4>
                <p class="desc">{{'Qatar Leadership Centre (QLC) has created a significant
                  opportunity for outstanding Qataris to further develop their leadership
                  abilities and advance their personal and professional development through
                  its National Leadership Program...'|translate}}</p>
                <div class="d-flex justify-content-end">
                  <!-- <a href="#" class="more">{{'read more' |translate}}</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="progItem wow fadeInRight" data-wow-delay="0.5s">
              <img src="assets/theme/imgs/prog2.jpg" class="prog-img" />
              <div class="caption">
                <h4 class="title">{{'institutional PROGRAMS'|translate}}</h4>
                <p class="desc">{{'In 2014 Qatar Leadership Centre began a new program, offering
                  customized leadership education for Qatari government institutions and
                  public sector organizations as a way to further develop a national talent
                  pool...'|translate}}</p>
                <div class="d-flex justify-content-end">
                  <!-- <a href="#" class="more">{{'read more' |translate}}</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <div class="bottomSection">
        <section class="col-section">
        <div class="container">
          <div class="d-flex row pt-5">
            <div class="col-lg-4 col-sm-6 col-12 pb-4" *ngIf="isNoEvent">
             
            </div>


          
          </div>
        </div>
      </section>

      <div class="container">
        <div class="d-flex row pb-5">

          <div class="col-12">
             </div>
        </div>
      </div>
    </div>
  
